@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button { 
  border: none;
  border-radius: 5px;
  background-color: #3882F6;
  padding: 10px 20px;
  color: #e5e7eb;
  font-weight: 600;
}

/* Utilities code */
.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8
}

.hero-second {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.center { 
  text-align: center;
}

.italy {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.blue {
  background-color: #3882F6;
}

/* first session */

.first-container {
  background-color: #1f2937;
  padding: 1.5rem 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1.5rem;
}

.navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.content-box {
  display: flex;
  align-items: center;
  height: 30vh;
}

.content > p {
  margin-bottom: 10px;
}

.img-content {
  width: auto;
  text-align: center;
  padding-left: 20px;
  flex: 1 1 850px;
}

/* Second-session */
.second-container {
  padding: 1.5rem;
}

.headline {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 2rem 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: 15px;
  
}

.square {
  border: 3px solid #3882F6;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.subtext {
  font-size: 18px;
  font-weight: 300;
  color: #1f2937;
  width: auto;
}

/* Third-container */
.third-container {
  background-color: #e5e7eb;
  padding: 1.5rem;
}

.con {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 30vh;
}

.author {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 900;
}

/* fourth-session */

.fourth-container > .wrapper {
  padding: 0;
}

.parent-box {
  display: flex;
  height: 30vh;
  align-items: center;
}

.child-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px ;
  padding: 3rem 4rem ;
}

.left > .hero-main {
  font-size: 24px;
}

.right > button {
  border: 2px solid #f9faf8;
  color: #f9faf8;
  font-weight: 900;
  padding: 0.5rem 1.5rem;
}

/* footer */
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 1.5rem 0;
} 
